/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define XXX &none
#define ___ &trans

/ {
    combos {
        compatible = "zmk,combos";
        timeout-ms = <50>;
        key-positions = <18 19>;
        bindings = <&sl 4>;
    };

    keymap {
        compatible = "zmk,keymap";

        // layer 0
        base_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    &kp TAB             &kp Q               &kp W               &kp E               &kp R               &kp T                   &kp Y               &kp U               &kp I               &kp O               &kp P               &kp BSPC
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    &kp CAPS            &mt LALT A          &lt 1 S             &mt LSHFT D         &lt 2 F             &kp G                   &kp H               &lt 2 J             &mt RSHFT K         &lt 1 L             &mt RALT SEMI       &kp SQT
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    &mo 3               &mt LGUI Z          &kp X               &kp C               &mt LCTRL V         &kp B                   &kp N               &mt RCTRL M         &kp COMMA           &kp DOT             &mt RGUI FSLH       &kp RET
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                &kp LGUI            &kp UNDER           &kp SPACE               &kp BSPC            &kp ESC             &mo 6
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "BASE";
        };

        // layer 1
        symbol_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp GRAVE           &kp LT              &kp GT              &kp MINUS           &kp PIPE                &kp CARET           &kp LBRC            &kp RBRC            &kp DLLR            &kp BSLH            XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp EXCL            &kp ASTRK           &kp FSLH            &kp EQUAL           &kp AMPS                &kp HASH            &kp LPAR            &kp RPAR            &kp SEMI            &kp DQT             XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp TILDE           &kp PLUS            &kp LBKT            &kp RBKT            &kp PRCNT               &kp AT              &kp COLON           &kp COMMA           &kp DOT             &kp SQT             XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                XXX                 XXX                 XXX                     XXX                 XXX                 XXX
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "SYM";
        };

        // layer 2
        navigation_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 XXX                 &kp LC(PG_UP)       &kp LC(PG_DN)       XXX                 XXX                     &kp PG_UP           &kp HOME            &kp UP              &kp END             &kp BSLH            XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp LALT            &kp LSHFT           &kp LCTRL           XXX                 XXX                     &kp PG_DN           &kp LEFT            &kp DOWN            &kp RIGHT           &kp DEL             XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp LGUI            &kp PG_UP           &kp PG_DN           XXX                 XXX                     &kp RC(Z)           XXX                 XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                XXX                 XXX                 XXX                     XXX                 XXX                 XXX
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "NAV";
        };

        // layer 3
        numeric_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp FSLH            &kp N9              &kp N8              &kp N7              &kp ASTRK               XXX                 XXX                 XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp MINUS           &kp N3              &kp N2              &kp N1              &kp PLUS                XXX                 XXX                 &kp E               &kp RCTRL           &kp RALT            XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp X               &kp N6              &kp N5              &kp N4              &kp PRCNT               XXX                 XXX                 &kp COMMA           &kp DOT             &kp RGUI            XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                XXX                 XXX                 XXX                     &kp N0              XXX                 XXX
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "NUM";
        };

        // layer 4
        function_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp F12             &kp F11             &kp F10             &kp F9              XXX                     XXX                 XXX                 XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp F4              &kp F3              &kp F2              &kp F1              XXX                     XXX                 XXX                 &kp RSHFT           &kp RCTRL           &kp RALT            XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp F8              &kp F7              &kp F6              &kp F5              XXX                     XXX                 XXX                 XXX                 XXX                 &kp RGUI            XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                XXX                 XXX                 XXX                     XXX                 XXX                 XXX
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "FUNC";
        };

        // layer 5
        mouse_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 XXX                 XXX                 XXX                 XXX                 XXX                     &msc SCRL_UP        &mkp LCLK           &mmv MOVE_UP        &mkp RCLK           XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp LALT            &kp LSHFT           &kp LCTRL           XXX                 XXX                     &msc SCRL_DOWN      &mmv MOVE_LEFT      &mmv MOVE_DOWN      &mmv MOVE_RIGHT     XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 &kp LGUI            &kp LC(V)           &kp LC(A)           &kp LC(C)           &kp LC(X)               XXX                 XXX                 XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                XXX                 XXX                 &mkp LCLK               &mkp RCLK           XXX                 XXX
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "MOUSE";
        };

        // layer 6
        bluetooth_layer {
            bindings = <
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 XXX                 XXX                 XXX                 XXX                 XXX                     XXX                 XXX                 XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 XXX                 &bt BT_SEL 2        &bt BT_SEL 1        &bt BT_SEL 0        XXX                     XXX                 &bt BT_CLR          XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
    XXX                 XXX                 XXX                 &bt BT_SEL 4        &bt BT_SEL 3        XXX                     XXX                 XXX                 XXX                 XXX                 XXX                 XXX
//+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
                                                                XXX                 XXX                 XXX                     XXX                 XXX                 XXX
//                                                            +-------------------+-------------------+-------------------+   +-------------------+-------------------+-------------------+
            >;
            display-name = "BLE";
        };

        // layer 7
        dummy_layer_1 {
            status = "reserved";
            display-name = "L7";
        };

        // layer 8
        dummy_layer_2 {
            status = "reserved";
            display-name = "L8";
        };
    };
};
